<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Evaluation</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <style>
      /* Start Market Item adding item view */
        .check-photo{
          margin-left: 70%;
          font-size: 12px;
        }    
      /* End Market Item */
    </style>
</head>
<body>

<!-- Include the navbar fragment -->
<div th:insert="~{fragments/navbar :: mainNavbar}"></div>

<div class="auth-container">
  <div class="auth-form">
    <h2 class="auth-title">Edit Evaluation</h2>
     <form th:action="@{/bonus/update}" method="POST" th:object="${bonus}">
      
          <!-- Hidden ID field -->
          <input type="hidden" th:field="*{id}" />
          <div class="form-group">
              <label  class = "form-label" for="evaluationType">Evaluation Type - نوع التقييم</label>
              <select class="form-input" id="evaluationType" name="evaluationType" required>
                  <option value="">Select</option>
                  <option value="PO" th:selected="${bonusEvaluationType == 'PO'}">Positive - إيجابي</option>
                  <option value="NE" th:selected="${bonusEvaluationType == 'NE'}">Negative - سلبي</option>
              </select>
          </div>
          <div class="form-group">
              <label class="form-label" for="bonceParent">Evaluation Parent :</label>
                <select class="form-input" id="bonceParent" name="bonusHead.id" required>
                  <option value="" disabled selected>Select</option>
                </select>
          </div>

          <div class="form-group">
            <label for="bonusDescription">Bonus Description:</label>
            <input class="form-input" type="text" id="bonusDescription" th:field="*{description}" required>
          </div>

          <div class="form-group">
            <label for="point">Points:</label>
            <input class="form-input" type="number" id="point" th:field="*{point}" required>
          </div>

          <div class="form-group">
              <label for="activeFrom">Active From:</label>
              <input class="form-input" type="date" id="activeFrom" th:field="*{activeFrom}" required>
          </div>
          <div class="form-group">
              <label for="activeTo">Active To:</label>
              <input class="form-input" type="date" id="activeTo" th:field="*{activeTo}">
          </div>
          
          <div class="form-group">
            <label for="active">Active:</label>
            <input type="checkbox" id="active" th:field="*{active}">
          </div>

          <button type="submit" class="btn btn-primary">Update</button>
    </form>

  </div>
</div>
<script th:src="@{/js/nav.js}"></script>
<script th:src="@{/js/jCommon/Common.js}"></script>
<script th:src="@{/js/bonusHeader.js}"></script>
<script>

</script>
</body>
</html>