<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Item</title>
  <link th:href="@{../../css/styles.css}" rel="stylesheet" />

    <style>
      /* Start Market Item adding item view */
        .check-photo{
          margin-left: 70%;
          font-size: 12px;
        }    
      /* End Market Item */
    </style>
</head>
<body>

<!-- Include the navbar fragment -->
<div th:insert="~{fragments/navbar :: mainNavbar}"></div>



<div class="auth-container">
  <div class="auth-form">
    <h2 class="auth-title">Market Items</h2>
       <form th:action="@{/market/add}"  method="POST" th:object="${item}" enctype="multipart/form-data" id="item-form">
        <input type="hidden" name="id"  th:value="${item.id}"/>
      <div class="form-group">
        <label class="form-label" for="itemName">Item Name :</label>
        <input class="form-input" type="text" id="itemName" name="itemName" th:field = "*{itemName}" th:value="${item.itemName}" required>
      </div>

       <div class="form-group">
        <label class="form-label" for="itemDescription">Item Description :</label>
        <input class="form-input" type="text" id="itemDescription" name="itemDescription" th:field="*{itemDesc}" th:value="${item.itemDesc}" required>
      </div>

      <div class="form-group">
        <label  class = "form-label" for="waznaNum" >Wazna Point :</label>
        <input  class = "form-input" type="number" id="waznaNum" name="waznaNum" required th:value="${points}" th:field="*{points}">
      </div>

      <div class="form-group">
        <label  class = "form-label" for="category">Category :</label>
        <select class = "form-input" id ="category" name="category.id"  required>
               <option value="" disabled th:selected="${item.category == null}">Select</option>
              <option th:each="cat : ${category}"
                      th:value="${cat.id}"
                      th:text="${cat.description}"
                      th:selected="${item.category != null and cat.id == item.category.id}">
              </option>
        </select>
      </div>

      <div class="form-group">
          <label  class = "form-label" for="imgeName">Image : </label>
          <input  class = "form-input" type="file" id="image" name="image"  >
          <input type="hidden" name="imageName" th:value="${imageName}" th:field="*{imageName}"/>
          <input type="hidden" name="status"        th:value="${item.status}" />
          <div class="check-photo" th:if="${item.id != 0}">
              <a href="#" onclick="viewImage();">view Photo</a>
              <input type="hidden" id="URL" th:value="@{/market/item/image/{img}(img=${item.imageName})}"/>
          </div>
        </div>
      <button type="submit" class="btn btn-primary">Execute</button>

    </form>
  </div>
</div>
<script th:src="@{/js/nav.js}"></script>
<script th:src="@{/js/jCommon/Common.js}"></script>
<script th:src="@{/js/item.js}"></script>

<script>
        let msg      = document.getElementById("msg");
        let msg_type = document.getElementById("msg_type");
        if (msg && msg.value !== "" && msg_type && msg_type.value != null) {
            showToast("Note", msg.value, msg_type.value);
        }
</script>
</body>
</html>