<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In - WZNA</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Sora:wght@600;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div class="auth-wrapper">


  <section class="auth-form">
    <div class="signin-top-decoration"></div>

    <div class="signin-form-header">
      <h2 class="auth-title">Wazna</h2>
      <p class="auth-subtitle">Sign In! Please enter your details.</p>
    </div>

    <form th:action="@{/login}" method="post" id="login-form" novalidate>

      <div class="form-group">
        <label class="form-label" for="username">
          <i class="fa-solid fa-user"></i> User Name
        </label>
        <div class="input-wrapper">
          <i class="fa-solid fa-user input-icon"></i>
          <input type="text" id="username" name="username"
                 class="form-input" placeholder="Enter your username" required />
        </div>
      </div>

      <div class="form-group">
        <label class="form-label" for="password">
          <i class="fa-solid fa-lock"></i> Password
        </label>
        <div class="input-wrapper">
          <i class="fa-solid fa-lock input-icon"></i>
          <input type="password" id="password" name="password"
                 class="form-input" placeholder="Enter your password" required />
        </div>
      </div>

      <div class="form-options">
        <label class="remember-me">
          <input type="checkbox" name="remember-me" />
          Remember Me
        </label>
       <!-- <a href="#" class="forgot-link">Forgot Password?</a>-->
      </div>

      <button type="submit" class="login-btn">
        <span class="btn-shine"></span>
        <span class="btn-content">
            Sign In <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </span>
      </button>
    </form>

    <p class="login-footer">
      Don't have an account?
      <a th:href="@{/register}">Sign Up</a>
    </p>
  </section>

</div>
</body>
</html>
