<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WZNA Ranking</title>
    <link th:href="@{/css/youthRankingBoard.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </head>
    <body>

        <!-- Include the navbar fragment -->
        <div th:insert="~{fragments/navbar :: mainNavbar}"></div>

        <header>
            <h1>ساحة الأبطال</h1>
          <div class="search_container">
                <svg class="search-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2">
                    <circle cx="11" cy="11" r="8"/>
                    <path d="m21 21-4.35-4.35"/>
                </svg>
                <input type="text" id="search" name="search" class="input " placeholder="البحث عن بطل ؟"/>
                
                <!-- Clear Icon -->
                <svg id="clearSearch" class="clear-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2">
                    <line x1="6" y1="6" x2="18" y2="18"/>
                    <line x1="18" y1="6" x2="6" y2="18"/>
                </svg>
            </div>  
        </header>

        <div id="youth-container" class="youth-container"></div>

        <!-- Transaction Popup -->
        <div id="transactionPopup" class="popup">
            <div class="popup-content">
                <span class="popup-close">&times;</span>
                <h2>سجل وزنة</h2>
                <div id="popup-body">
                    <!-- Transaction info will load here -->
                </div>
            </div>
        </div>

        <script th:src="@{/js/nav.js}"></script>
        <script th:src="@{/js/jCommon/Common.js}"></script>
        <script th:src="@{/js/youthRankingBoard.js}"></script>
    </body>

</html>